<div class="jumbotron mt-3">
  <div class="form-group">
    <label>
      <h1>What's going to do?</h1>
    </label>
    <div class="input-group mb-3" [formGroup]="Formulario">
      <input type="text" class="form-control" formControlName="thing" placeholder="Escribir cosa por hacer"
        aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-success" *ngIf="Formulario.valid" (click)="obtenerThing()" type="button"
          id="button-addon2">Guardar Tarea</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Date Create</th>
            <th>Change Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let thing of Things">
            <td scope="row">{{thing.thing}}</td>
            <td>{{thing.created_date | date:'dd/MM/yyyy'}}</td>
            <td> <button type="button" class="btn" [ngClass]="{'btn-outline-success': thing.complete, 
                        'btn-outline-danger': !thing.complete}" (click)="CambiarStatus(thing)">
                <span *ngIf="!thing.complete">Finalizar tarea</span>
                <span *ngIf="thing.complete">Tarea Finzalizada</span>
              </button>
              <button type="button" (click)="EliminarTarea(thing._id)" class="btn btn-outline-dark ml-2">Eliminar Tarea</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
