<div class="register">
  <div class="container text-center">
    <h1>Register</h1>
    <img src="../../../assets/clipboard.png" width="100px" height="100px" alt="">
    <div class="form-group">
      <label for="">E-mail:</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <label for="">Contraseña</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <label for="">Confirmar contraseña</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <button type="button" class="btn btn-primary btn-lg btn-block mt-3">Realizar registro</button>
      <label class="mt-2">Ya tienes una cuenta ?</label>
      <br>
      <a href="">Inicia Sesión aqui!</a>
    </div>
  </div>
</div>
