<nav class="navbar navbar-light" id="icon">
  <a class="navbar-brand ml-2" href="#">
    <img src="../../../assets/Images/shuffle.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand" href="#">
    <img src="../../../assets/Images/mars.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand" href="#">
    <img src="../../../assets/Images/female.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <span class="mr-2"> Gender</span>
  <a class="navbar-brand" href="#">
      <img src="../../../assets/Images/circle.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
  <a class="navbar-brand" id="menu" href="#">
      <img src="../../../assets/Images/menu.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
</nav>
