<div class="login">
  <div class="container text-center">
    <h1>LogIn</h1>
    <img src="../../../assets/login.png">
    <div class="form-group">
      <label>Email:</label>
      <input type="text" class="form-control" placeholder="">
      <label>Contraseña:</label>
      <input type="text" class="form-control" placeholder="">
      <button type="button"class="btn btn-primary btn-lg btn-block mt-3">Iniciar Sesion</button>
      <label class="mt-2">Aun no te has registrado ?</label>
      <br>
      <a href="">Registrate aqui!</a>
    </div>
  </div>
</div>
