<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home">Shopping site</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="products">
        <a class="nav-link">Products</a>
      </li>
      <li class="nav-item" routerLink="about">
        <a class="nav-link">About</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar producto" aria-label="Search" #ProductLook
        (keyup.enter)="SendTerm(ProductLook.value)">
      <button class="btn btn-outline-light my-2 my-sm-0" type="button" (click)="SendTerm(ProductLook.value)">Buscar</button>
    </div>
  </div>
</nav>
